<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Globo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,404},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Globo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1432},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Globo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1543},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>PauseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,763},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>PauseOverBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1285},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>Pilar00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,2},{19,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,100}}</string>
                <key>sourceSize</key>
                <string>{19,100}</string>
            </dict>
            <key>Pilar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1609},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>TR3_GUI_FinishLine01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1271},{104,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,201}}</string>
                <key>sourceSize</key>
                <string>{104,201}</string>
            </dict>
            <key>TR3_GUI_FinishLine02.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,568},{18,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,203}}</string>
                <key>sourceSize</key>
                <string>{18,203}</string>
            </dict>
            <key>TR3_GUI_FinishLine03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1271},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>TR3_GUI_Fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1695},{373,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,246}}</string>
                <key>sourceSize</key>
                <string>{373,246}</string>
            </dict>
            <key>TR3_GUI_FotoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1474},{171,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,184}}</string>
                <key>sourceSize</key>
                <string>{171,184}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1904},{55,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,156}}</string>
                <key>sourceSize</key>
                <string>{55,156}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,693},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,132}}</string>
                <key>sourceSize</key>
                <string>{103,132}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1835},{109,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,153}}</string>
                <key>sourceSize</key>
                <string>{109,153}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,749},{111,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,148}}</string>
                <key>sourceSize</key>
                <string>{111,148}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,831},{97,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,208}}</string>
                <key>sourceSize</key>
                <string>{97,208}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1432},{75,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,180}}</string>
                <key>sourceSize</key>
                <string>{75,180}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1517},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,472},{104,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,219}}</string>
                <key>sourceSize</key>
                <string>{104,219}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1614},{75,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,180}}</string>
                <key>sourceSize</key>
                <string>{75,180}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1385},{86,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,130}}</string>
                <key>sourceSize</key>
                <string>{86,130}</string>
            </dict>
            <key>TR3_GUI_GameCompleteCharacter_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1543},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>TR3_GUI_GameComplete_Explosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1695},{265,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,438}}</string>
                <key>sourceSize</key>
                <string>{265,438}</string>
            </dict>
            <key>TR3_GUI_GameComplete_Fence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{400,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,41}}</string>
                <key>sourceSize</key>
                <string>{400,41}</string>
            </dict>
            <key>TR3_GUI_GameComplete_PeopleBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,831},{324,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,107}}</string>
                <key>sourceSize</key>
                <string>{324,107}</string>
            </dict>
            <key>TR3_GUI_GameComplete_PeopleBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1318},{450,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,375}}</string>
                <key>sourceSize</key>
                <string>{450,375}</string>
            </dict>
            <key>TR3_GUI_GameComplete_PeopleBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1318},{450,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,375}}</string>
                <key>sourceSize</key>
                <string>{450,375}</string>
            </dict>
            <key>TR3_GUI_GameComplete_PeopleBack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,878},{440,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,438}}</string>
                <key>sourceSize</key>
                <string>{440,438}</string>
            </dict>
            <key>TR3_GUI_WoodenSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1695},{342,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,277}}</string>
                <key>sourceSize</key>
                <string>{342,277}</string>
            </dict>
            <key>TR3_InGame_NPC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,1705},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>TR3_InGame_NPC_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1705},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>TR3_InGame_NPC_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1835},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>TR3_InGame_NPC_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1797},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>TR3_InGame_NPC_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1797},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>TR3_controls1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1157},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>TR3_controls2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,1598},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>TR_IN_CashIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1943},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>TR_IN_Explosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{548,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,564}}</string>
                <key>sourceSize</key>
                <string>{548,564}</string>
            </dict>
            <key>TR_IN_FallExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{456,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,441}}</string>
                <key>sourceSize</key>
                <string>{456,441}</string>
            </dict>
            <key>TR_IN_GreenFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{219,858}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,858}}</string>
                <key>sourceSize</key>
                <string>{219,858}</string>
            </dict>
            <key>TR_IN_ProgressBarFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,445},{316,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,80}}</string>
                <key>sourceSize</key>
                <string>{316,80}</string>
            </dict>
            <key>TR_IN_ProgressBarFull_Night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,831},{410,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,80}}</string>
                <key>sourceSize</key>
                <string>{410,80}</string>
            </dict>
            <key>TR_NPC5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,448},{416,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,381}}</string>
                <key>sourceSize</key>
                <string>{416,381}</string>
            </dict>
            <key>TR_NPCH1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,878},{432,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,438}}</string>
                <key>sourceSize</key>
                <string>{432,438}</string>
            </dict>
            <key>TR_NPCH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,831},{432,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,438}}</string>
                <key>sourceSize</key>
                <string>{432,438}</string>
            </dict>
            <key>TR_NPCM1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,448},{412,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,381}}</string>
                <key>sourceSize</key>
                <string>{412,381}</string>
            </dict>
            <key>TR_NPCM2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1271},{416,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,381}}</string>
                <key>sourceSize</key>
                <string>{416,381}</string>
            </dict>
            <key>boulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1689},{210,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,213}}</string>
                <key>sourceSize</key>
                <string>{210,213}</string>
            </dict>
            <key>cart_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{468,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,58}}</string>
                <key>sourceSize</key>
                <string>{468,58}</string>
            </dict>
            <key>catapult_spritesheet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,745}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,745}}</string>
                <key>sourceSize</key>
                <string>{372,745}</string>
            </dict>
            <key>characterscombination_pendulum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1041},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>coins_hud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1598},{105,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,35}}</string>
                <key>sourceSize</key>
                <string>{105,35}</string>
            </dict>
            <key>coins_hud_earn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1904},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>ferriswheel_cart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,798},{142,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,166}}</string>
                <key>sourceSize</key>
                <string>{142,166}</string>
            </dict>
            <key>moon_ferriswheel_noche.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1660},{173,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,165}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
            <key>npc_cart_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1385},{124,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,77}}</string>
                <key>sourceSize</key>
                <string>{124,77}</string>
            </dict>
            <key>pendulum_cart_noche.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1464},{124,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,77}}</string>
                <key>sourceSize</key>
                <string>{124,77}</string>
            </dict>
            <key>peoplecombination1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1049},{142,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,166}}</string>
                <key>sourceSize</key>
                <string>{142,166}</string>
            </dict>
            <key>peoplecombination2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1264},{142,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,166}}</string>
                <key>sourceSize</key>
                <string>{142,166}</string>
            </dict>
            <key>peoplecombination3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1217},{142,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,166}}</string>
                <key>sourceSize</key>
                <string>{142,166}</string>
            </dict>
            <key>rainbow_turbopad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1889},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>splashcart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,966},{143,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,81}}</string>
                <key>sourceSize</key>
                <string>{143,81}</string>
            </dict>
            <key>standard_died_by_firecart.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,568},{500,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,308}}</string>
                <key>sourceSize</key>
                <string>{500,308}</string>
            </dict>
            <key>star_levelcomplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1217},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>star_spritesheet_anim.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{460,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,444}}</string>
                <key>sourceSize</key>
                <string>{460,444}</string>
            </dict>
            <key>stars_levelcomplete_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{191,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,79}}</string>
                <key>sourceSize</key>
                <string>{191,79}</string>
            </dict>
            <key>turbopad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1689},{244,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,142}}</string>
                <key>sourceSize</key>
                <string>{244,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay0.png</string>
            <key>size</key>
            <string>{1974,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb70654dbed663fa1b9810d11a290cb:26e9169c86b9c69e21fda8824df710f5:d11cc0a89d085a5c4e2bfaeb69136be1$</string>
            <key>textureFileName</key>
            <string>gameplay0.png</string>
        </dict>
    </dict>
</plist>
