<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{850,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,450}}</string>
                <key>sourceSize</key>
                <string>{850,450}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general_noalpha0.jpg</string>
            <key>size</key>
            <string>{883,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d4dfe25b856b67297418d105b5e655:9387d90efb3d53c02803f6c7286c8e94:e02b2a07230fb92d8b03c7c7ae116270$</string>
            <key>textureFileName</key>
            <string>general_noalpha0.jpg</string>
        </dict>
    </dict>
</plist>
